[submodule "src/htslib"]
	path = src/htslib
	url = https://github.com/samtools/htslib
[submodule "src/samtools"]
	path = src/samtools
	url = https://github.com/samtools/samtools
[submodule "src/bwa"]
	path = src/bwa
	url = https://github.com/lh3/bwa
[submodule "src/hisat2"]
	path = src/hisat2
	url = https://github.com/DaehwanKimLab/hisat2
[submodule "src/bowtie2"]
	path = src/bowtie2
	url = https://github.com/BenLangmead/bowtie2
[submodule "src/STAR"]
	path = src/STAR
	url = https://github.com/alexdobin/STAR
[submodule "src/DROMPAplus"]
	path = src/DROMPAplus
	url = https://github.com/rnakato/DROMPAplus
[submodule "src/phantompeakqualtools"]
	path = src/phantompeakqualtools
	url = https://github.com/kundajelab/phantompeakqualtools
[submodule "src/idr"]
	path = src/idr
	url = https://github.com/nboley/idr
[submodule "src/MACS"]
	path = src/MACS
	url = https://github.com/macs3-project/MACS
[submodule "src/stringtie"]
	path = src/stringtie
	url = https://github.com/gpertea/stringtie
