[submodule "src/samtools"]
	path = src/samtools
	url = https://github.com/samtools/samtools
[submodule "src/hisat2"]
	path = src/hisat2
	url = https://github.com/DaehwanKimLab/hisat2
[submodule "src/bowtie2"]
	path = src/bowtie2
	url = https://github.com/BenLangmead/bowtie2.git
