# gitignore - specifies intentionally untracked files to ignore

# hidden files and directories
.*

# data copied from ec2
data/

# don't track R files
.Rproj.user
R/

# latex build files
*.aux
*.log
*.fls
*.fdb_latexmk
*.synctex.gz
*.out

