# gitignore - specifies intentionally untracked files to ignore

# hidden files and directories
.*

# build files
bin/

# work in progress
data/
out/
tmp/
R/

# latex build files
*.aux
*.log
*.fls
*.fdb_latexmk
*.synctex.gz
*.out

# R
.Rproj.user
